<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Did They Feed</title>
    
    
    <link rel="stylesheet" href="css/reset.css">

    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>

        <link rel="stylesheet" href="css/style.css">

    
    
    
  </head>

  <body>

    
<!-- Mixins-->
<!-- Pen Title-->
<form action ="/" method = "POST">

<div class="pen-title">
  <h1>Did They Feed</h1><span>App <i class='fa fa-code'></i> by Elias Ingea</span>
</div>
<div class="container">
  <div class="card"></div>
  <div class="card">
    <h1 class="title">Welcome</h1>
    <form method="post" action="#">
      <div class="input-container">
        <input type="text" id="Summoner 1" required="required"/>
        <label for="Summoner 1">Summoner 1</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="text" id="Summoner 2" required="required"/>
        <label for="Summoner 2">Summoner 2</label>
        <div class="bar"></div>
      </div>
      <div class="button-container">
        <button><span>Go</span></button>
      </div>
    </form>
  </div>
  
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

        <script src="js/index.js"></script>

    
    
    </div>
    </form>    
  </body>
</html>
